<center> <img src ="https://i.postimg.cc/1X8H7YYt/BITS-Logo.png" width = "400" alt="BITS Pilani Logo" /> </center>

<font color='green'> <h2> **DAY 2**</center> </h2> </font>


<font color='green'> <h2> Python - Tuple</center> </h2> </font>

# **Tuples**

A tuple is a collection of different data types which is ordered and unchangeable (immutable). Tuples are written with round brackets, (). Once a tuple is created, we cannot change its values. We cannot use add, insert, remove methods in a tuple because it is not modifiable (mutable). Unlike list, tuple has few methods. Methods related to tuples:

*   `tuple()`: to create an empty tuple
*   `count()`: to count the number of a specified item in a tuple
*   `index()`: to find the index of a specified item in a tuple
*   `operator`: to join two or more tuples and to create a new tuple

**Creating a Tuple**
Empty tuple: Creating an empty tuple

```python
# syntax
empty_tuple = ()
# or using the tuple constructor
empty_tuple = tuple()

In [1]:

empty_tuple = tuple()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

**Tuple with initial values**

```python


# syntax
tpl = ('item1', 'item2','item3')
print(tpl)

In [2]:


fruits = ('banana', 'orange', 'mango', 'lemon')
print(fruits)

('banana', 'orange', 'mango', 'lemon')

## Tuple length
We use the `len()` method to get the length of a tuple.

```python
# syntax
tpl = ('item1', 'item2', 'item3')
print(len(tpl))

In [3]:


fruits = ('banana', 'orange', 'mango', 'lemon')
print(len(fruits))

4

## Accessing Tuple Items
### Positive Indexing
Similar to the list data type we use positive or negative indexing to access tuple items. Accessing tuple items


```python

# Syntax
tpl = ('item1', 'item2', 'item3')
first_item = tpl[0]
second_item = tpl[1]
print(f"First item: {first_item}, Second item: {second_item}")

In [4]:
fruits = ('banana', 'orange', 'mango', 'lemon')
first_fruit = fruits[0]
second_fruit = fruits[1]
last_index = len(fruits) - 1
last_fruit = fruits[last_index]
print(f"First fruit: {first_fruit}, Second fruit: {second_fruit}, Last fruit: {last_fruit}")

First fruit: banana, Second fruit: orange, Last fruit: lemon

### Negative indexing
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last and the negative of the list/tuple length refers to the first item. Tuple Negative indexing


```python
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
first_item = tpl[-4]
second_item = tpl[-3]
print(f"First item (negative index): {first_item}, Second item (negative index): {second_item}")

In [5]:

fruits = ('banana', 'orange', 'mango', 'lemon')
first_fruit = fruits[-4]
second_fruit = fruits[-3]
last_fruit = fruits[-1]
print(f"First fruit (negative index): {first_fruit}, Second fruit (negative index): {second_fruit}, Last fruit (negative index): {last_fruit}")

First fruit (negative index): banana, Second fruit (negative index): orange, Last fruit (negative index): lemon

## Slicing tuples
We can slice out a sub-tuple by specifying a range of indexes where to start and where to end in the tuple, the return value will be a new tuple with the specified items.

## Range of Positive Indexes

```python
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
all_items = tpl[0:4]         # all items
all_items = tpl[0:]         # all items
middle_two_items = tpl[1:3]  # does not include item at index 3
```

In [6]:
fruits = ('banana', 'orange', 'mango', 'lemon')
all_fruits = fruits[0:4]    # all items
print(f"All fruits (0:4): {all_fruits}")

all_fruits = fruits[0:]      # all items
print(f"All fruits (0:): {all_fruits}")

orange_mango = fruits[1:3]  # doesn't include item at index 3
print(f"Orange and Mango: {orange_mango}")

orange_to_the_rest = fruits[1:]
print(f"Orange to the rest: {orange_to_the_rest}")

All fruits (0:4): ('banana', 'orange', 'mango', 'lemon')
All fruits (0:): ('banana', 'orange', 'mango', 'lemon')
Orange and Mango: ('orange', 'mango')
Orange to the rest: ('orange', 'mango', 'lemon')

## Range of Negative Indexes

```python
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
all_items = tpl[-4:]         # all items
middle_two_items = tpl[-3:-1]  # does not include item at index 3 (-1)
```

In [7]:
fruits = ('banana', 'orange', 'mango', 'lemon')
all_fruits = fruits[-4:]    # all items
print(f"All fruits (negative index -4:): {all_fruits}")

orange_mango = fruits[-3:-1]  # doesn't include item at index -1
print(f"Orange and Mango (negative index): {orange_mango}")

orange_to_the_rest = fruits[-3:]
print(f"Orange to the rest (negative index): {orange_to_the_rest}")

All fruits (negative index -4:): ('banana', 'orange', 'mango', 'lemon')
Orange and Mango (negative index): ('orange', 'mango')
Orange to the rest (negative index): ('orange', 'mango', 'lemon')

## Changing Tuples to Lists
We can change tuples to lists and lists to tuples. Tuple is immutable, so if we want to modify a tuple, we should change it to a list.

```python
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
lst = list(tpl)
```

In [8]:
fruits = ('banana', 'orange', 'mango', 'lemon')
print(f"Original tuple: {fruits}")
fruits_list = list(fruits)
fruits_list[0] = 'apple'
print(f"Modified list: {fruits_list}")     # ['apple', 'orange', 'mango', 'lemon']
fruits = tuple(fruits_list)
print(f"Converted back to tuple: {fruits}")     # ('apple', 'orange', 'mango', 'lemon')

Original tuple: ('banana', 'orange', 'mango', 'lemon')
Modified list: ['apple', 'orange', 'mango', 'lemon']
Converted back to tuple: ('apple', 'orange', 'mango', 'lemon')

## Checking an Item in a Tuple
We can check if an item exists or not in a tuple using `in`, which returns a boolean.

```python
# Syntax
tpl = ('item1', 'item2', 'item3','item4')
'item2' in tpl # True
```

In [9]:
fruits = ('banana', 'orange', 'mango', 'lemon')
print(f"Is 'orange' in fruits? {'orange' in fruits}") # True
print(f"Is 'apple' in fruits? {'apple' in fruits}") # False
# The following line will cause a TypeError, demonstrating immutability:
# fruits[0] = 'apple' # TypeError: 'tuple' object does not support item assignment

Is 'orange' in fruits? True
Is 'apple' in fruits? False

## Joining Tuples
We can join two or more tuples using the `+` operator.

```python
# Syntax
tpl1 = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5','item6')
tpl3 = tpl1 + tpl2
```

In [10]:
fruits = ('banana', 'orange', 'mango', 'lemon')
vegetables = ('Tomato', 'Potato', 'Cabbage')
food_stuff = fruits + vegetables

## Deleting Tuples

While individual items within a tuple cannot be deleted (due to tuples being immutable), an entire tuple can be removed from memory using the `del` keyword. Once deleted, any attempt to access the tuple will result in a `NameError`.

**Reasoning**:
Now, I need to add a code cell to demonstrate the deletion of a tuple using `del` and show that accessing it afterwards will raise a `NameError`, as specified in the instructions.

In [11]:
my_tuple = ('apple', 'banana', 'cherry')
print(f"Original tuple: {my_tuple}")

del my_tuple
print("Tuple deleted.")

# Attempting to access the tuple after deletion will raise a NameError
try:
    print(my_tuple)
except NameError as e:
    print(f"Error: {e}. The tuple 'my_tuple' no longer exists.")

Original tuple: ('apple', 'banana', 'cherry')
Tuple deleted.
Error: name 'my_tuple' is not defined. The tuple 'my_tuple' no longer exists.

## Exercise: Create Empty Tuple

### Subtask:
Create an empty tuple as per Level 1 exercises.

**Reasoning**:
I will create an empty tuple named `empty_tuple`, print it, and then print its type to satisfy all instructions of the subtask.

In [12]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

## Exercise: Siblings Tuples

### Subtask:
Create two tuples, one for sisters' names and one for brothers' names (imaginary siblings are fine).

**Reasoning**:
I need to create two tuples, `sisters` and `brothers`, with imaginary names as per the subtask instructions.

In [13]:
sisters = ('Jane', 'Alice', 'Sarah')
brothers = ('John', 'Peter', 'Michael')

print(f"Sisters: {sisters}")
print(f"Brothers: {brothers}")

Sisters: ('Jane', 'Alice', 'Sarah')
Brothers: ('John', 'Peter', 'Michael')

## Exercise: Join Siblings and Count

### Subtask:
Join the sisters and brothers tuples to create a 'siblings' tuple, then calculate and print the number of siblings.

I will join the `sisters` and `brothers` tuples to create a new tuple called `siblings`. Then, I will use the `len()` function to count the total number of siblings and print both the `siblings` tuple and its count with a descriptive message, as per the instructions.

**Reasoning**:
Now that the explanation for the subtask is in place, I will add a code cell to perform the operations: joining the `sisters` and `brothers` tuples, calculating the length of the new `siblings` tuple, and then printing both the `siblings` tuple and its length.

In [14]:
siblings = sisters + brothers
num_siblings = len(siblings)

print(f"Siblings: {siblings}")
print(f"Number of siblings: {num_siblings}")

Siblings: ('Jane', 'Alice', 'Sarah', 'John', 'Peter', 'Michael')
Number of siblings: 6

## Exercise: Family Members Tuple

### Subtask:
Convert the 'siblings' tuple to a list, add names of a father and mother, and then convert it back to a tuple named 'family_members'.

I will convert the `siblings` tuple into a list to make it mutable, allowing me to add names for the father and mother. After adding these names, I will convert the list back into an immutable tuple, named `family_members`, and then print it to fulfill all the instructions of the subtask.

**Reasoning**:
I will convert the existing `siblings` tuple to a list, add the father's and mother's names, convert it back to a tuple named `family_members`, and then print the result, following all instructions of the subtask.

In [15]:
siblings_list = list(siblings)
siblings_list.append('David') # Example father's name
siblings_list.append('Sophia') # Example mother's name
family_members = tuple(siblings_list)

print(f"Family Members: {family_members}")

Family Members: ('Jane', 'Alice', 'Sarah', 'John', 'Peter', 'Michael', 'David', 'Sophia')

## Exercise: Unpack Family Members

### Subtask:
Unpack the 'siblings' and 'parents' from the 'family_members' tuple.

I will unpack the `family_members` tuple into two separate tuples: `siblings` for the first six elements and `parents` for the last two elements, using tuple slicing. Finally, I will print both new tuples to confirm the successful unpacking, as requested by the subtask instructions.

**Reasoning**:
I will unpack the `family_members` tuple into `siblings` and `parents` using slicing, as per the instructions, and then print both tuples to verify the operation.

In [16]:
siblings = family_members[0:6]
parents = family_members[6:8]

print(f"Siblings: {siblings}")
print(f"Parents: {parents}")

Siblings: ('Jane', 'Alice', 'Sarah', 'John', 'Peter', 'Michael')
Parents: ('David', 'Sophia')

## Exercise: Food Stuff Tuples and Join

### Subtask:
Create 'fruits', 'vegetables', and 'animal_products' tuples, and then join them into a new tuple called 'food_stuff_tp'.

I will create three tuples: `fruits`, `vegetables`, and `animal_products`, each containing example items as specified. Then, I will concatenate these three tuples to form a new tuple named `food_stuff_tp` using the `+` operator. Finally, I will print the `food_stuff_tp` to display the combined list of food items as required by the subtask instructions.

**Reasoning**:
Now that the explanation for the subtask is in place, I will add a code cell to create the three tuples, join them into 'food_stuff_tp', and then print the resulting tuple as per the instructions.

In [17]:
fruits = ('apple', 'banana', 'orange')
vegetables = ('carrot', 'broccoli', 'spinach')
animal_products = ('milk', 'eggs')

food_stuff_tp = fruits + vegetables + animal_products

print(f"Food Stuff Tuple: {food_stuff_tp}")

Food Stuff Tuple: ('apple', 'banana', 'orange', 'carrot', 'broccoli', 'spinach', 'milk', 'eggs')

## Exercise: Convert to List

### Subtask:
Convert the 'food_stuff_tp' tuple into a list named 'food_stuff_lt'.

**Reasoning**:
I will convert the `food_stuff_tp` tuple into a list named `food_stuff_lt` using the `list()` constructor, and then print the newly created list to verify the conversion, as per the subtask instructions.

In [18]:
food_stuff_lt = list(food_stuff_tp)
print(f"Food Stuff List: {food_stuff_lt}")

Food Stuff List: ['apple', 'banana', 'orange', 'carrot', 'broccoli', 'spinach', 'milk', 'eggs']

## Exercise: Slice Middle Items

### Subtask:
Slice out the middle item or items from either 'food_stuff_tp' or 'food_stuff_lt'.

I will slice out the middle item or items from the `food_stuff_lt`.
First, I need to determine its length to correctly identify the middle index or indices. If the length is even, there will be two middle items; if odd, there will be one. Then, I will use Python's slicing capabilities to extract these item(s) and store them in a new variable, `middle_items`. Finally, I will print `middle_items` to display the result, fulfilling all parts of the subtask.

**Reasoning**:
Now that the explanation for the subtask is in place, I will add a code cell to implement the logic for slicing out the middle item(s) from `food_stuff_lt`.

In [19]:
list_length = len(food_stuff_lt)

if list_length % 2 == 0: # Even number of items
    # Two middle items
    middle_index_1 = list_length // 2 - 1
    middle_index_2 = list_length // 2
    middle_items = food_stuff_lt[middle_index_1 : middle_index_2 + 1]
else: # Odd number of items
    # One middle item
    middle_index = list_length // 2
    middle_items = [food_stuff_lt[middle_index]] # Return as a list for consistency

print(f"Original list: {food_stuff_lt}")
print(f"Length of list: {list_length}")
print(f"Middle item(s): {middle_items}")

Original list: ['apple', 'banana', 'orange', 'carrot', 'broccoli', 'spinach', 'milk', 'eggs']
Length of list: 8
Middle item(s): ['carrot', 'broccoli']

## Exercise: Slice First and Last Three Items

### Subtask:
Slice out the first three items and the last three items from the 'food_stuff_lt' list.

I will slice the `food_stuff_lt` list to extract the first three items and store them in a variable called `first_three_items`. Subsequently, I will slice the same list to retrieve the last three items and assign them to a variable named `last_three_items`. Finally, I will print both of these new lists with descriptive labels to clearly show the sliced contents, thus fulfilling all requirements of the subtask.

**Reasoning**:
Now that the explanation for slicing the list is in place, I will add a code cell to perform the slicing operations for the first and last three items from `food_stuff_lt` and then print the results as instructed.

In [20]:
first_three_items = food_stuff_lt[0:3]
last_three_items = food_stuff_lt[-3:]

print(f"First three items: {first_three_items}")
print(f"Last three items: {last_three_items}")

First three items: ['apple', 'banana', 'orange']
Last three items: ['spinach', 'milk', 'eggs']

## Exercise: Delete food_stuff_tp

### Subtask:
Delete the 'food_stuff_tp' tuple completely using the `del` keyword.

**Reasoning**:
I will use the `del` keyword to remove the `food_stuff_tp` tuple from memory. To confirm its deletion, I will attempt to print it within a `try-except` block to gracefully handle the expected `NameError` and display a confirmation message, as per the instructions.

**Reasoning**:
I will now add a code cell to perform the deletion of the `food_stuff_tp` tuple, followed by a `try-except` block to demonstrate the `NameError` upon attempting to access the deleted tuple, as per the instructions.

In [21]:
del food_stuff_tp
print("food_stuff_tp tuple deleted.")

# Attempt to print food_stuff_tp to confirm deletion
try:
    print(food_stuff_tp)
except NameError as e:
    print(f"Error: {e}. The 'food_stuff_tp' tuple no longer exists.")

food_stuff_tp tuple deleted.
Error: name 'food_stuff_tp' is not defined. The 'food_stuff_tp' tuple no longer exists.

## Exercise: Check Nordic Countries

### Subtask:
Create a 'nordic_countries' tuple and then check if 'Estonia' and 'Iceland' exist within it, printing the boolean results.

I will create a tuple named `nordic_countries` with the specified countries. Then, I will use the `in` operator to check for the presence of 'Estonia' and 'Iceland' within this tuple, printing the boolean result along with a descriptive message for each check, as per the subtask instructions.

**Reasoning**:
I will create the `nordic_countries` tuple, then check for 'Estonia' and 'Iceland' within it, printing the boolean results as instructed by the subtask.

In [22]:
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')

is_estonia_in_nordic = 'Estonia' in nordic_countries
is_iceland_in_nordic = 'Iceland' in nordic_countries

print(f"Is 'Estonia' in Nordic countries? {is_estonia_in_nordic}")
print(f"Is 'Iceland' in Nordic countries? {is_iceland_in_nordic}")

Is 'Estonia' in Nordic countries? False
Is 'Iceland' in Nordic countries? True

## Final Task

### Subtask:
Summarize the outcomes of the tuple operations and exercises, confirming the understanding of tuple properties.

## Summary:

### Data Analysis Key Findings
*   Entire tuples can be removed from memory using the `del` keyword, with subsequent access attempts correctly raising a `NameError`. Individual items within a tuple cannot be deleted due to their immutable nature.
*   Empty tuples are created using `()` and are correctly identified as type `<class 'tuple'>`.
*   Tuples can be concatenated using the `+` operator, as demonstrated by joining `sisters` and `brothers` tuples to form a `siblings` tuple of 6 members, and combining `fruits`, `vegetables`, and `animal_products` into `food_stuff_tp`.
*   Tuple immutability necessitates conversion to a mutable type (like a list) for adding or removing elements, as shown when converting `siblings` to a list to add parents, then back to a tuple named `family_members`.
*   Specific elements or ranges of elements within tuples can be extracted using slicing, as exemplified by unpacking `family_members` into `siblings` and `parents`, and slicing middle, first three, and last three items from `food_stuff_lt`.
*   The `in` operator effectively checks for the presence of an element within a tuple, returning `True` if found and `False` if not, as confirmed by checking for 'Estonia' and 'Iceland' in `nordic_countries`.

### Insights or Next Steps
*   The exercises effectively demonstrated core tuple properties, including immutability, methods for creation, concatenation, and element access (slicing), along with the necessary type conversions for modifying tuple-like data.
*   Future exercises could focus on tuple methods like `count()` and `index()`, or explore more complex data structures involving nested tuples for advanced understanding.