<center> <img src ="https://i.postimg.cc/1X8H7YYt/BITS-Logo.png" width = "400" alt="BITS Pilani Logo" /> </center>

<font color='green'> <h1> <center> Python - Iterative  Executions </center> </h1> </font>

Sometimes its required to execute the same code block multiple times. For example, if list of students marks is given and we need to compute the total or average marks of that class. We need to iterate over all students marks one by one and need to use each of them for the operation to be performed i.e. summation or averaging. In in each iteration, the opeartion is same but the data is changing. In such situations, loop statements helps us to execute same line of code multiple times in order to perform the same opeartion again and again.

## Loops
Life is full of routines. In programming we also do lots of repetitive tasks. In order to handle repetitive task programming languages use loops. Python programming language also provides the following types of two loops:

*   `while` loop
*   `for` loop

### While Loop
We use the reserved word `while` to make a while loop. It is used to execute a block of statements repeatedly until a given condition is satisfied. When the condition becomes false, the lines of code after the loop will be continued to be executed.

```python
# syntax
while condition:
    code goes here
```



### While Loop with Else
If we are interested to run a block of code once the condition is no longer true, we can use `else` with the `while` loop.

```python
# syntax
while condition:
    code goes here
else:
    code goes here
```

In [14]:
# Example 1: Basic While Loop
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [15]:
# Example 2: While Loop with Else
count = 0
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

0
1
2
3
4
5

## For Loop
A `for` keyword is used to make a for loop, similar with other programming languages, but with some syntax differences. A loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

### For loop with list
```python
# syntax
for iterator in lst:
    code goes here
```

In [16]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)       # the numbers will be printed line by line, from 0 to 5

0
1
2
3
4
5

### For loop with string
```python
# syntax
for iterator in string:
    code goes here
```

In [17]:
language = 'Python'
for letter in language:
    print(letter)

P
y
t
h
o
n

In [18]:
language = 'Python'
for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n

### For loop with tuple
```python
# syntax
for iterator in tpl:
    code goes here
```

In [19]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

### For loop with dictionary
Looping through a dictionary gives you the key of the dictionary.
```python
# syntax
for iterator in dct:
    code goes here
```

In [20]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

first_name
last_name
age
country
is_marred
skills
address

In [21]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

### Loops in set
```python
# syntax
for iterator in st:
    code goes here
```

In [22]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for company in it_companies:
    print(company)

Microsoft
Amazon
IBM
Facebook
Google
Oracle
Apple

# Infinite Loops

In [23]:
#Example of infinite loop
# i = 0
# while i < 5 :
#     print("i ", i )
# print("Out of while loop")

What is wrong with above code snippet. It will never terminate because value of iteration variable i.e. i is never changing. It will be always zero and hence the while loop condition will be always true and loop will be executed infinitely. Hence, while using loops one needs to keep in mind that iteration variable has to be changed.

# Break Statement

The break statement is use to break out of a loop before the loop is finished.

In [24]:
# Example
i = 0           #iteration variable initialized
while i < 5:    # condition is evaluated
    print(i)    # block statements are executed until the condition is true i.e. 5 times
    i = i + 1

0
1
2
3
4

In [25]:
# Example
i = 0           #iteration variable initialized
while i < 5:    # condition is evaluated
    if i > 3 :
        break   # no more further execution of the loop, once i is greater than 4
    print(i)    # block statements are executed until the condition is true and iteration variable is less that 3
    i = i + 1

0
1
2
3

# Continue Statement

Sometimes we want to finish the execution of the current iteration and jump to the next iteration without executing the further statements in the code block, then continue statement can be used. It helps to start a new iteration.

In [26]:
stmt = ""

while stmt != 'Quit':
    stmt = input("Enter the stmt (Use 'Quit' to stop )")
    if stmt.startswith("#") :
        continue
    if len(stmt) > 0 :
        print(stmt)

Enter the stmt (Use 'Quit' to stop )S
S
Enter the stmt (Use 'Quit' to stop )Quit
Quit

In above code snippet, user enters the input statement. She can use "Quit" word to terminate the execution of code.
Once the statement is received, the code checks whether it starts with '#'. If yes, no further statements in the block are executed. It directly jumps to the next iteration. If the statement does not start with '#' then further it checks if the statement has some characters in it or not. If yes, the statement is printed back again.

In [27]:
#iterate over the first five numbers

my_number_list = range(5)  #generate first five integers starting from zero

i = 0   # initialize the iteration variable
while i < len(my_number_list):   #evaluate condition
    print('(i)   ', i, "    (number)   ", my_number_list[i])   # while block stmt 1
    i = i + 1                                                  # while block stmt 2

print("Length of list ", len(my_number_list))

(i)    0     (number)    0
(i)    1     (number)    1
(i)    2     (number)    2
(i)    3     (number)    3
(i)    4     (number)    4
Length of list  5

In above code block, the code flows like - <br>
(1) first list of five integers is generated. <br>
(2) iteration variable (whose value needs to be changed in every iteration, otherwise loop will never terminate) is initialized, i.e. i = 0<br>
(3) While loop condition is evaluated to true or false. <br>
(4) If the condition evaluated to true then statement within while loop are executed. One of the statement increments iteration variable value.<br>
(5) Step 3 and 4 are executed until the condition evaluates to true.<br>
(6) Once the condition evaluates to false, the next statement is executed, i.e. print statement<br>

Earlier we have written the programs where we explicitly asked user to enter the number of times the loop needs to be executed. It restricts the user. In order to avoid that situation, we can ask user to enter a specific number to state us that he/she is done with the entering the input and now processing can happen.

In [28]:
#Example for loop with fixed number of inputs
count = 3
for i in range(count):
    name = input("Enter the name :")
    print('You entered ', name)

Enter the name :SAM
You entered  SAM
Enter the name :SAM
You entered  SAM
Enter the name :SAM
You entered  SAM

In [29]:
#Example while loop without any restrictions on number of inputs
name = ""
while name != "Quit":
    name = input("Enter the name (use 'Quit' to stop :")
    if name != "Quit":
        print('You entered ', name)

Enter the name (use 'Quit' to stop :Quit

# Range function

The range function helps to generate the range of numbers based on given inputs to it. The value we put in range function determines how many times the loop should be executed. range function produces a list of numbers from zero to the value minus one. For example, range(3) generates 3 values : 0, 1 and 2.




The range() function is used list of numbers. The range(start, end, step) takes three parameters: starting, ending and increment. By default it starts from 0 and the increment is 1. The range sequence needs at least 1 argument (end). Creating sequences using rang

Syntax - range(start_value, end_value, step)

In [30]:
#Examples

range(5)                  # produces  five values 0, 1, 2, 3, 4
range(1, 5)               # produces  four values 1, 2, 3, 4
range(2, 4)               # produces  two values 2, 3
range(1, 10, 2)           # produces values starting from zero to nine , at step of 2 i.e. 1, 3, 5, 7, 9
range(9, 2, -1)           # produces values starting from nine to three , at step of -1 i.e. 9, 8, 7, 6, 5, 4, 3

range(9, 2, -1)

In [31]:
for i in range(9, 2, -1):
    print(i)

9
8
7
6
5
4
3

In [32]:
lst = list(range(11))
print(lst) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
st = set(range(1, 11))    # 2 arguments indicate start and end of the sequence, step set to default 1
print(st) # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

lst = list(range(0,11,2))
print(lst) # [0, 2, 4, 6, 8, 10]
st = set(range(0,11,2))
print(st) #  {0, 2, 4, 6, 8, 10}

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[0, 2, 4, 6, 8, 10]
{0, 2, 4, 6, 8, 10}

#  For loop Variations

In [33]:
# iterate over values directly
for i in (11,31,51):
    print(i)

11
31
51

In [34]:
# iterate fixed number of times
for i in range(3):
    print(i)

0
1
2

In [35]:
# iterate fixed number of times with start and end value
for i in range(1, 5):
    print(i)

1
2
3
4

In [36]:
# iterate fixed number of times with start and end value with gaps in between
for i in range(1, 5, 2):
    print(i)

1
3

In [37]:
#iterate over list of values

scores = [23, 34, 12, 34, 45]
length = len(scores)

for i in range(length):
    print(scores[i])

23
34
12
34
45

In [38]:
#iterate over list of values directly

scores = [23, 34, 12, 34, 45]

for score in scores:
    print(score)

23
34
12
34
45

In [39]:
#iterate over list of values directly along with index
squares = [0, 1, 4, 9, 16]

for i, square in enumerate(squares):
    print("index : ", i, "  ", "value : " , square)

index :  0    value :  0
index :  1    value :  1
index :  2    value :  4
index :  3    value :  9
index :  4    value :  16

In [40]:
#iterate over strings directly

my_string = "this is demo"

for letter in my_string:
    print(letter)

t
h
i
s

i
s

d
e
m
o

In [41]:
#iterate over tuple elements directly

my_tuple = (1, 'two', 3.4, True)

for element in my_tuple:
    print(element)

1
two
3.4
True

In [42]:
#iterate over set elements directly

my_set = {1, 'two', 3.4, True}
#my_set = {9, 'two', 3.4, True}
for element in my_set:
    print(element)

1
3.4
two

In [43]:
# The reason you're not seeing True in the output has to do with how Python handles boolean values (True and False)...
# when they are in a set alongside integers. In Python, True is considered equal to 1, and False is equal to 0

In [44]:
#iterate over dictionary elements directly

my_dict = {"key1": "value1", "key2":"value2"}

for item in my_dict.items():
    print(item)

('key1', 'value1')
('key2', 'value2')

In [45]:
#iterate over dictionary keys directly

my_dict = {"key1": "value1", "key2":"value2"}

for key in my_dict.keys():
    print(key)

key1
key2

In [46]:
#iterate over dictionary values directly

my_dict = {"key1": "value1", "key2":"value2"}

for value in my_dict.values():
    print(value)

value1
value2

# Exercise

Q1. Write a program using while loop that prints square and cube of numbers between 1 to 10.

In [47]:
#Try it here :

Q2. Write a program that uses for loop to print numbers 100, 96, 92, 88 ..., 4.

In [48]:
#Try it here :

Q3. Use a for loop to print a triangle like the one below. Allow the user to specify how high the triangle should be. <br>
@<br>
@@<br>
@@@<br>
@@@@<br>

In [49]:
#Try it here :

Q4. Write a program that asks the user to enter the password. If the user enters the right password, the program should tell them they are logged in to the system. Otherwise, the program should ask them to reenter the password. The user should get only five tries to enter the password, after which point the program should tell them that they are kicked off of the system.

In [50]:
#Try it here :

# Answers

In [51]:
#Solution 1
number = 1
while number <=10 :
    print("number ", number, "   square   ", number * number, "   cube   ", number * number*number)
    number = number + 1

number  1    square    1    cube    1
number  2    square    4    cube    8
number  3    square    9    cube    27
number  4    square    16    cube    64
number  5    square    25    cube    125
number  6    square    36    cube    216
number  7    square    49    cube    343
number  8    square    64    cube    512
number  9    square    81    cube    729
number  10    square    100    cube    1000

In [52]:
#Solution 2
number = 100
for i in range(100, 0, -4):
    print(i)

100
96
92
88
84
80
76
72
68
64
60
56
52
48
44
40
36
32
28
24
20
16
12
8
4

In [53]:
#Solution 3

times = int(input("Enter the height of triangle\n"))
print()

items = []
for i in range(times):
    items.append(i+1)

for x in items:
    print(x * "@")

Enter the height of triangle
14

@
@@
@@@
@@@@
@@@@@
@@@@@@
@@@@@@@
@@@@@@@@
@@@@@@@@@
@@@@@@@@@@
@@@@@@@@@@@
@@@@@@@@@@@@
@@@@@@@@@@@@@
@@@@@@@@@@@@@@

In [54]:
#Solution 4

password = "password"
times = 5
match_found = False

for i in range(times):
    user_password = input("Please enter the password \n")
    if user_password == password:
        match_found = True
        print("You are logged in!")
        break

if not(match_found) :
    print("You have used all the attempts for login")

Please enter the password
SAM
Please enter the password
password
You are logged in!