## Variables

A variable is a name that refers to a value. It stores data for later use.

In [ ]:
# Assignment - creates variable and stores value
message = 'Hello World'
num = 5
price = 3.99

print(message)
print(num)
print(price)

In [ ]:
# Variables can be reassigned
x = 10
print(x)   # 10

x = 20
print(x)   # 20

## Variable Naming Rules

| Rule | Example |
|------|--------|
| Letters, numbers, underscores allowed | `my_var1` |
| Cannot start with number | `1var` ❌ |
| Cannot contain spaces | `my var` ❌ |
| Case-sensitive | `name` ≠ `Name` |
| Cannot be a keyword | `class` ❌ |

In [ ]:
# Valid names
name = 'John'
user_name = 'John'
_private = 'hidden'
count1 = 10

In [ ]:
# Invalid - uncomment to see errors
# 1count = 10        # starts with number
# my name = 'John'   # has space
# class = 'Math'     # keyword

In [ ]:
# Case sensitive
name = 'Alice'
Name = 'Bob'
NAME = 'Charlie'

print(name, Name, NAME)  # All different

## Statements

A statement is a unit of code that Python executes.

In [ ]:
# Simple statements
x = 5                    # assignment
print('Hello')           # function call

In [ ]:
# Compound statement (has a body)
for i in range(3):
    print(i)

## Expressions

An expression is a combination of values, variables, and operators that evaluates to a result.

In [ ]:
# Expressions evaluate to a value
5 + 3          # 8
4 * 3 + 2      # 14
x = 10
x * 2          # 20

## Operators

### Arithmetic Operators

| Operator | Operation | Example |
|----------|-----------|--------|
| `+` | Addition | `5 + 3` → `8` |
| `-` | Subtraction | `5 - 3` → `2` |
| `*` | Multiplication | `5 * 3` → `15` |
| `/` | Division | `5 / 3` → `1.666...` |
| `//` | Floor Division | `5 // 3` → `1` |
| `%` | Modulo (remainder) | `5 % 3` → `2` |
| `**` | Exponent | `5 ** 3` → `125` |

In [ ]:
a, b = 10, 3

print('a + b =', a + b)   # 13
print('a - b =', a - b)   # 7
print('a * b =', a * b)   # 30
print('a / b =', a / b)   # 3.333...
print('a // b =', a // b) # 3
print('a % b =', a % b)   # 1
print('a ** b =', a ** b) # 1000

### Assignment Operators (Shorthand)

In [ ]:
x = 10

x += 5    # x = x + 5  → 15
x -= 3    # x = x - 3  → 12
x *= 2    # x = x * 2  → 24
x /= 4    # x = x / 4  → 6.0

print(x)

### Comparison Operators

Return `True` or `False`.

| Operator | Meaning |
|----------|--------|
| `==` | Equal |
| `!=` | Not equal |
| `>` | Greater than |
| `<` | Less than |
| `>=` | Greater or equal |
| `<=` | Less or equal |

In [ ]:
a, b = 5, 10

print(a == b)   # False
print(a != b)   # True
print(a > b)    # False
print(a < b)    # True
print(a >= 5)   # True
print(b <= 10)  # True

### Operator Precedence

Order of operations (highest to lowest):

1. `**` (exponent)
2. `*`, `/`, `//`, `%`
3. `+`, `-`
4. Comparisons (`==`, `!=`, `<`, `>`, etc.)

Use parentheses to override.

In [ ]:
2 + 3 * 4      # 14 (not 20)
(2 + 3) * 4    # 20
2 ** 3 * 2     # 16 (8 * 2)

## Quick Reference

```python
# Variables
x = 10
x = x + 5   # or x += 5

# Arithmetic
+  -  *  /  //  %  **

# Comparison
==  !=  >  <  >=  <=
```

---

## Practice

In [ ]:
# Q1: Simple Interest = (P * N * R) / 100

p = float(input('Enter principal: '))
n = float(input('Enter tenure (years): '))
r = float(input('Enter rate (%): '))

interest = (p * n * r) / 100
print(f'Simple Interest: Rs {interest}')

In [ ]:
# Q2: Convert kg to pounds (1 kg = 2.2 pounds)

kg = float(input('Enter weight in kg: '))
pounds = kg * 2.2
print(f'{kg} kg = {pounds} pounds')

In [ ]:
# Q3: Sum of digits of a 4-digit number

num = int(input('Enter 4-digit number: '))

d1 = num % 10         # ones
d2 = (num // 10) % 10 # tens
d3 = (num // 100) % 10  # hundreds
d4 = num // 1000      # thousands

total = d1 + d2 + d3 + d4
print(f'Sum of digits: {total}')