## Basic Data Types

| Type | Description | Examples |
|------|-------------|----------|
| `int` | Integer (whole number) | `1`, `0`, `-5` |
| `float` | Decimal number | `1.5`, `0.0`, `-3.14` |
| `str` | String (text) | `'hello'`, `"world"` |
| `bool` | Boolean | `True`, `False` |

In [ ]:
# Literals
42          # int
3.14        # float
'hello'     # str
True        # bool

## Checking Type

Use `type()` to check the data type of any value.

In [ ]:
type(42)        # <class 'int'>
type(3.14)      # <class 'float'>
type('hello')   # <class 'str'>
type(True)      # <class 'bool'>

## Integers (`int`)

Whole numbers, positive or negative, without decimals.

In [ ]:
type(1)     # int
type(0)     # int
type(-99)   # int

## Floats (`float`)

Numbers with decimal points.

In [ ]:
type(1.0)      # float
type(-3.14)    # float
type(0.0)      # float

## Booleans (`bool`)

Only two values: `True` or `False` (case-sensitive, capital T and F).

In [ ]:
True     # bool
False    # bool

type(True)   # <class 'bool'>

## Type Casting

Convert between types using conversion functions.

### To Integer (`int()`)

In [ ]:
int(3.9)       # 3 (truncates, doesn't round)
int('42')      # 42
int(True)      # 1
int(False)     # 0

### To Float (`float()`)

In [ ]:
float(5)       # 5.0
float('3.14')  # 3.14
float(True)    # 1.0

### To String (`str()`)

In [ ]:
str(42)        # '42'
str(3.14)      # '3.14'
str(True)      # 'True'

### To Boolean (`bool()`)

Falsy values: `0`, `0.0`, `''` (empty string), `None`  
Everything else is `True`.

In [ ]:
bool(1)        # True
bool(0)        # False
bool(3.14)     # True
bool(0.0)      # False
bool('hello')  # True
bool('')       # False

## Type Coercion in Expressions

When mixing types, Python converts to the "wider" type.

In [ ]:
# int + float = float
5 + 2.5        # 7.5
type(5 + 2.5)  # float

# int + bool = int
5 + True       # 6
type(5 + True) # int

## Quick Reference

```python
# Check type
type(value)

# Convert
int(value)     # to integer
float(value)   # to float
str(value)     # to string
bool(value)    # to boolean
```

**Common conversions:**
| From | To | Example |
|------|-----|--------|
| float | int | `int(3.9)` → `3` |
| str | int | `int('42')` → `42` |
| int | float | `float(5)` → `5.0` |
| any | str | `str(42)` → `'42'` |
| int | bool | `bool(0)` → `False` |

---

## Practice

In [ ]:
# Q1: What is the type of (5 + 4.5 - 3)?

type(5 + 4.5 - 3)   # float (because 4.5 is float)

In [ ]:
# Q2: Check type of 'one', '1 or 2', '1.4', '1/2'

print(type('one'))      # str
print(type('1 or 2'))   # str
print(type('1.4'))      # str (it's in quotes!)
print(type('1/2'))      # str