In [4]:
# Import pandas and numpy
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 2.3.3
NumPy version: 2.2.6

---

## 1. Pandas Series

A **Series** is a one-dimensional labeled array that can hold any data type.

Think of it as:
- A single column of data
- A dictionary with ordered keys (index)
- A NumPy array with labels

### 1.1 Creating Series from Different Sources

In [5]:
# From a Python list
grades = [85, 90, 78, 92, 88]
series_list = pd.Series(grades)
print("Series from list:")
print(series_list)
print("\nData type:", series_list.dtype)

Series from list:
0    85
1    90
2    78
3    92
4    88
dtype: int64

Data type: int64

In [6]:
# From a NumPy array with custom index
array = np.array([10, 20, 30, 40, 50])
index = ['a', 'b', 'c', 'd', 'e']
series_array = pd.Series(array, index=index)
print("Series from array with custom index:")
print(series_array)

Series from array with custom index:
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
# From a dictionary (keys become index)
student_scores = {
    'Alice': 95,
    'Bob': 87,
    'Charlie': 92,
    'Diana': 88
}
series_dict = pd.Series(student_scores)
print("Series from dictionary:")
print(series_dict)

Series from dictionary:
Alice      95
Bob        87
Charlie    92
Diana      88
dtype: int64

In [8]:
# From a scalar (repeated for each index)
series_scalar = pd.Series(5.0, index=['x', 'y', 'z'])
print("Series from scalar:")
print(series_scalar)

Series from scalar:
x    5.0
y    5.0
z    5.0
dtype: float64

### 1.2 Series Properties

In [9]:
# Exploring Series properties
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'], name='my_series')

print("Values:", s.values)         # NumPy array of values
print("Index:", s.index)           # Index object
print("Data type:", s.dtype)       # Data type
print("Shape:", s.shape)           # Dimensions
print("Size:", s.size)             # Number of elements
print("Name:", s.name)             # Series name

Values: [10 20 30 40]
Index: Index(['a', 'b', 'c', 'd'], dtype='object')
Data type: int64
Shape: (4,)
Size: 4
Name: my_series

### 1.3 Accessing Series Elements

In [10]:
s = pd.Series([100, 200, 300, 400, 500], index=['a', 'b', 'c', 'd', 'e'])
print("Original Series:")
print(s)
print()

# Access by label
print("s['b'] =", s['b'])

# Access by position
print("s[1] =", s[1])

# Access multiple elements by labels
print("\ns[['a', 'c', 'e']] =")
print(s[['a', 'c', 'e']])

# Slicing by label (inclusive!)
print("\ns['b':'d'] =")
print(s['b':'d'])

Original Series:
a    100
b    200
c    300
d    400
e    500
dtype: int64

s['b'] = 200
s[1] = 200

s[['a', 'c', 'e']] =
a    100
c    300
e    500
dtype: int64

s['b':'d'] =
b    200
c    300
d    400
dtype: int64

C:\Users\vamsi\AppData\Local\Temp\ipykernel_25944\4044373506.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("s[1] =", s[1])

---

## 2. Pandas DataFrame

A **DataFrame** is a 2-dimensional labeled data structure with columns of potentially different types.

Think of it as:
- A spreadsheet or SQL table
- A dictionary of Series objects
- A 2D NumPy array with row and column labels

### 2.1 Creating DataFrames

In [11]:
# From a dictionary of lists
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [25, 30, 35, 28],
    'city': ['NYC', 'LA', 'Chicago', 'Houston'],
    'salary': [50000, 60000, 75000, 55000]
}
df = pd.DataFrame(data)
print("DataFrame from dictionary:")
df

DataFrame from dictionary:

      name  age     city  salary
0    Alice   25      NYC   50000
1      Bob   30       LA   60000
2  Charlie   35  Chicago   75000
3    Diana   28  Houston   55000

In [12]:
# From a dictionary of Series
dict_series = {
    'name': pd.Series(['Alice', 'Bob', 'Charlie']),
    'score': pd.Series([85, 90, 78]),
    'passed': pd.Series([True, True, True])
}
df_series = pd.DataFrame(dict_series)
df_series

      name  score  passed
0    Alice     85    True
1      Bob     90    True
2  Charlie     78    True

In [13]:
# From a 2D NumPy array with custom index and columns
array_2d = np.random.randint(1, 100, size=(4, 3))
df_array = pd.DataFrame(
    array_2d,
    index=['row1', 'row2', 'row3', 'row4'],
    columns=['A', 'B', 'C']
)
print("DataFrame from NumPy array:")
df_array

DataFrame from NumPy array:

       A   B   C
row1  82   5  46
row2  54  44  17
row3   5  47  55
row4  13  68  16

In [14]:
# From a list of dictionaries
records = [
    {'name': 'Alice', 'age': 25, 'dept': 'HR'},
    {'name': 'Bob', 'age': 30, 'dept': 'IT'},
    {'name': 'Charlie', 'age': 35, 'dept': 'Finance'}
]
df_records = pd.DataFrame(records)
df_records

      name  age     dept
0    Alice   25       HR
1      Bob   30       IT
2  Charlie   35  Finance

### 2.2 DataFrame Properties

In [15]:
# Create sample DataFrame
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'age': [25, 30, 35, 28, 22],
    'salary': [50000.0, 60000.0, 75000.0, 55000.0, 45000.0],
    'active': [True, True, False, True, True]
})

print("DataFrame:")
print(df)
print()

print("Shape:", df.shape)           # (rows, columns)
print("Size:", df.size)             # Total elements
print("Columns:", list(df.columns)) # Column names
print("Index:", list(df.index))     # Row labels
print("\nData types:")
print(df.dtypes)

DataFrame:
      name  age   salary  active
0    Alice   25  50000.0    True
1      Bob   30  60000.0    True
2  Charlie   35  75000.0   False
3    Diana   28  55000.0    True
4      Eve   22  45000.0    True

Shape: (5, 4)
Size: 20
Columns: ['name', 'age', 'salary', 'active']
Index: [0, 1, 2, 3, 4]

Data types:
name       object
age         int64
salary    float64
active       bool
dtype: object

### 2.3 Viewing Data: head(), tail(), info()

In [16]:
# First n rows (default 5)
print("Head (first 3 rows):")
print(df.head(3))

Head (first 3 rows):
      name  age   salary  active
0    Alice   25  50000.0    True
1      Bob   30  60000.0    True
2  Charlie   35  75000.0   False

In [17]:
# Last n rows (default 5)
print("Tail (last 2 rows):")
print(df.tail(2))

Tail (last 2 rows):
    name  age   salary  active
3  Diana   28  55000.0    True
4    Eve   22  45000.0    True

In [18]:
# DataFrame info - columns, types, memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   salary  5 non-null      float64
 3   active  5 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 253.0+ bytes

---

## 3. Data Selection & Indexing

There are multiple ways to select data from a DataFrame:

| Method | Description |
|--------|-------------|
| `df['col']` | Select single column (returns Series) |
| `df[['col1', 'col2']]` | Select multiple columns (returns DataFrame) |
| `df.loc[]` | Label-based selection |
| `df.iloc[]` | Integer position-based selection |

### 3.1 Column Selection

In [19]:
# Single column (returns Series)
print("Single column (df['name']):")
print(df['name'])
print("Type:", type(df['name']))

Single column (df['name']):
0      Alice
1        Bob
2    Charlie
3      Diana
4        Eve
Name: name, dtype: object
Type: <class 'pandas.core.series.Series'>

In [20]:
# Alternative: dot notation (only works for valid Python identifiers)
print("Using dot notation (df.age):")
print(df.age)

Using dot notation (df.age):
0    25
1    30
2    35
3    28
4    22
Name: age, dtype: int64

In [21]:
# Multiple columns (returns DataFrame)
print("Multiple columns:")
print(df[['name', 'salary']])
print("Type:", type(df[['name', 'salary']]))

Multiple columns:
      name   salary
0    Alice  50000.0
1      Bob  60000.0
2  Charlie  75000.0
3    Diana  55000.0
4      Eve  45000.0
Type: <class 'pandas.core.frame.DataFrame'>

### 3.2 Row Selection with .loc (Label-based)

In [22]:
# Select single row by label
print("Row at index 0:")
print(df.loc[0])

Row at index 0:
name        Alice
age            25
salary    50000.0
active       True
Name: 0, dtype: object

In [23]:
# Select range of rows (inclusive on both ends!)
print("Rows 1 to 3:")
print(df.loc[1:3])

Rows 1 to 3:
      name  age   salary  active
1      Bob   30  60000.0    True
2  Charlie   35  75000.0   False
3    Diana   28  55000.0    True

In [24]:
# Select specific rows and columns
print("Rows 0-2, columns 'name' and 'age':")
print(df.loc[0:2, ['name', 'age']])

Rows 0-2, columns 'name' and 'age':
      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

In [25]:
# Select single cell
print("Cell at row 1, column 'name':")
print(df.loc[1, 'name'])

Cell at row 1, column 'name':
Bob

### 3.3 Row Selection with .iloc (Position-based)

In [26]:
# Select by position (like array indexing)
print("First row (position 0):")
print(df.iloc[0])

First row (position 0):
name        Alice
age            25
salary    50000.0
active       True
Name: 0, dtype: object

In [27]:
# Slice rows (exclusive end!)
print("Rows 0 to 2 (positions):")
print(df.iloc[0:3])

Rows 0 to 2 (positions):
      name  age   salary  active
0    Alice   25  50000.0    True
1      Bob   30  60000.0    True
2  Charlie   35  75000.0   False

In [28]:
# Select specific rows and columns by position
print("Rows 0-1, columns 0-1:")
print(df.iloc[0:2, 0:2])

Rows 0-1, columns 0-1:
    name  age
0  Alice   25
1    Bob   30

In [29]:
# Select every other row
print("Every other row:")
print(df.iloc[::2])

Every other row:
      name  age   salary  active
0    Alice   25  50000.0    True
2  Charlie   35  75000.0   False
4      Eve   22  45000.0    True

### 3.4 Filtering with Boolean Conditions

In [30]:
# Filter rows where age > 25
print("Employees older than 25:")
print(df[df['age'] > 25])

Employees older than 25:
      name  age   salary  active
1      Bob   30  60000.0    True
2  Charlie   35  75000.0   False
3    Diana   28  55000.0    True

In [31]:
# Multiple conditions with & (and) and | (or)
print("Age > 25 AND salary > 55000:")
print(df[(df['age'] > 25) & (df['salary'] > 55000)])

Age > 25 AND salary > 55000:
      name  age   salary  active
1      Bob   30  60000.0    True
2  Charlie   35  75000.0   False

In [32]:
# Negation with ~
print("Not active employees:")
print(df[~df['active']])

Not active employees:
      name  age   salary  active
2  Charlie   35  75000.0   False

In [33]:
# Using isin() for multiple values
print("Names in list ['Alice', 'Charlie']:")
print(df[df['name'].isin(['Alice', 'Charlie'])])

Names in list ['Alice', 'Charlie']:
      name  age   salary  active
0    Alice   25  50000.0    True
2  Charlie   35  75000.0   False

In [34]:
# Using query() method (SQL-like syntax)
print("Using query():")
print(df.query('age > 25 and salary > 50000'))

Using query():
      name  age   salary  active
1      Bob   30  60000.0    True
2  Charlie   35  75000.0   False
3    Diana   28  55000.0    True

---

## Key Differences: .loc vs .iloc

| Feature | `.loc` | `.iloc` |
|---------|--------|--------|
| Based on | Labels | Integer positions |
| End point | **Inclusive** | **Exclusive** |
| Column access | By name | By position |

```python
df.loc[0:2]   # Rows 0, 1, 2 (inclusive)
df.iloc[0:2]  # Rows 0, 1 (exclusive of 2)
```

---

## ðŸ“ Practice Problems

### Problem 1: Create a Series
Create a Pandas Series called `temperatures` with the following data:
- Monday: 72
- Tuesday: 75
- Wednesday: 68
- Thursday: 70
- Friday: 74

Then:
1. Print the temperature on Wednesday
2. Print temperatures from Tuesday to Thursday

In [35]:
# Your solution here

### Problem 2: Create a DataFrame
Create a DataFrame `students` with the following data:

| id | name | quiz1 | quiz2 | midsem | compre |
|----|------|-------|-------|--------|--------|
| 1 | Alice | 8 | 9 | 85 | 90 |
| 2 | Bob | 7 | 8 | 78 | 82 |
| 3 | Charlie | 9 | 7 | 92 | 88 |
| 4 | Diana | 6 | 8 | 75 | 80 |
| 5 | Eve | 8 | 9 | 88 | 95 |

Then:
1. Display the first 3 rows
2. Show all column names and data types

In [36]:
# Your solution here

### Problem 3: Selection Practice
Using the `students` DataFrame from Problem 2:
1. Select only the 'name' and 'compre' columns
2. Select rows where midsem > 80
3. Select rows where quiz1 >= 8 AND compre >= 90
4. Use iloc to get the last 2 rows

In [37]:
# Your solution here

### Problem 4: DataFrame with DateTime Index
Create a DataFrame with:
- A datetime index from 2024-01-01 to 2024-01-07
- Columns: 'temperature', 'humidity', 'wind_speed'
- Random values for each column

In [38]:
# Your solution here

---

## âœ… Solutions

### Solution 1: Create a Series

In [39]:
# Solution 1
temperatures = pd.Series(
    [72, 75, 68, 70, 74],
    index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
    name='temperatures'
)
print("Temperatures Series:")
print(temperatures)
print()

# Temperature on Wednesday
print("Wednesday temperature:", temperatures['Wednesday'])

# Tuesday to Thursday (inclusive with loc)
print("\nTuesday to Thursday:")
print(temperatures['Tuesday':'Thursday'])

Temperatures Series:
Monday       72
Tuesday      75
Wednesday    68
Thursday     70
Friday       74
Name: temperatures, dtype: int64

Wednesday temperature: 68

Tuesday to Thursday:
Tuesday      75
Wednesday    68
Thursday     70
Name: temperatures, dtype: int64

### Solution 2: Create a DataFrame

In [40]:
# Solution 2
students = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'quiz1': [8, 7, 9, 6, 8],
    'quiz2': [9, 8, 7, 8, 9],
    'midsem': [85, 78, 92, 75, 88],
    'compre': [90, 82, 88, 80, 95]
})

print("Students DataFrame:")
print(students)
print()

# First 3 rows
print("First 3 rows:")
print(students.head(3))
print()

# Column names and data types
print("Columns:", list(students.columns))
print("\nData types:")
print(students.dtypes)

Students DataFrame:
   id     name  quiz1  quiz2  midsem  compre
0   1    Alice      8      9      85      90
1   2      Bob      7      8      78      82
2   3  Charlie      9      7      92      88
3   4    Diana      6      8      75      80
4   5      Eve      8      9      88      95

First 3 rows:
   id     name  quiz1  quiz2  midsem  compre
0   1    Alice      8      9      85      90
1   2      Bob      7      8      78      82
2   3  Charlie      9      7      92      88

Columns: ['id', 'name', 'quiz1', 'quiz2', 'midsem', 'compre']

Data types:
id         int64
name      object
quiz1      int64
quiz2      int64
midsem     int64
compre     int64
dtype: object

### Solution 3: Selection Practice

In [41]:
# Solution 3

# 1. Select name and compre columns
print("1. Name and Compre columns:")
print(students[['name', 'compre']])
print()

# 2. Rows where midsem > 80
print("2. Students with midsem > 80:")
print(students[students['midsem'] > 80])
print()

# 3. quiz1 >= 8 AND compre >= 90
print("3. Students with quiz1 >= 8 AND compre >= 90:")
print(students[(students['quiz1'] >= 8) & (students['compre'] >= 90)])
print()

# 4. Last 2 rows using iloc
print("4. Last 2 rows:")
print(students.iloc[-2:])

1. Name and Compre columns:
      name  compre
0    Alice      90
1      Bob      82
2  Charlie      88
3    Diana      80
4      Eve      95

2. Students with midsem > 80:
   id     name  quiz1  quiz2  midsem  compre
0   1    Alice      8      9      85      90
2   3  Charlie      9      7      92      88
4   5      Eve      8      9      88      95

3. Students with quiz1 >= 8 AND compre >= 90:
   id   name  quiz1  quiz2  midsem  compre
0   1  Alice      8      9      85      90
4   5    Eve      8      9      88      95

4. Last 2 rows:
   id   name  quiz1  quiz2  midsem  compre
3   4  Diana      6      8      75      80
4   5    Eve      8      9      88      95

### Solution 4: DataFrame with DateTime Index

In [42]:
# Solution 4
np.random.seed(42)  # For reproducibility

# Create datetime index
date_index = pd.date_range('2024-01-01', periods=7, freq='D')

# Create DataFrame
weather_df = pd.DataFrame({
    'temperature': np.random.randint(60, 80, size=7),
    'humidity': np.random.randint(40, 90, size=7),
    'wind_speed': np.random.uniform(5, 20, size=7).round(1)
}, index=date_index)

print("Weather DataFrame with DateTime Index:")
print(weather_df)
print()
print("Index type:", type(weather_df.index))

Weather DataFrame with DateTime Index:
            temperature  humidity  wind_speed
2024-01-01           66        62        14.8
2024-01-02           79        50         5.8
2024-01-03           74        50        15.8
2024-01-04           70        63        19.1
2024-01-05           67        75         5.0
2024-01-06           66        79        19.9
2024-01-07           78        63        14.3

Index type: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

---

## ðŸ“Œ Summary

| Concept | Description |
|---------|-------------|
| **Series** | 1D labeled array, like a column |
| **DataFrame** | 2D labeled structure, like a spreadsheet |
| **Creating Series** | From list, array, dict, or scalar |
| **Creating DataFrame** | From dict, list of dicts, 2D array |
| **`.loc[]`** | Label-based selection (inclusive) |
| **`.iloc[]`** | Position-based selection (exclusive) |
| **Boolean filtering** | `df[df['col'] > value]` |
| **`.query()`** | SQL-like filtering syntax |

**Next:** [25_pandas_operations.ipynb](25_pandas_operations.ipynb) - Merging, joining, and concatenating DataFrames