In [ ]:
import pandas as pd
import numpy as np

---

## 1. Concatenation with `pd.concat()`

Concatenation stacks DataFrames together:
- **axis=0** (default): Stack vertically (add rows)
- **axis=1**: Stack horizontally (add columns)

### 1.1 Vertical Concatenation (axis=0)

In [ ]:
# Create two DataFrames with same columns
df1 = pd.DataFrame({
    'name': ['Alice', 'Bob'],
    'age': [25, 30],
    'city': ['NYC', 'LA']
})

df2 = pd.DataFrame({
    'name': ['Charlie', 'Diana'],
    'age': [35, 28],
    'city': ['Chicago', 'Houston']
})

print("df1:")
print(df1)
print("\ndf2:")
print(df2)

In [ ]:
# Concatenate vertically (stack rows)
result = pd.concat([df1, df2])
print("Concatenated (axis=0):")
result

In [ ]:
# Notice the index is preserved - use ignore_index=True to reset
result = pd.concat([df1, df2], ignore_index=True)
print("With ignore_index=True:")
result

### 1.2 Horizontal Concatenation (axis=1)

In [ ]:
# Create DataFrames with same index
df_info = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
})

df_scores = pd.DataFrame({
    'math': [90, 85, 88],
    'english': [88, 92, 85]
})

# Concatenate horizontally (add columns)
result = pd.concat([df_info, df_scores], axis=1)
print("Concatenated (axis=1):")
result

### 1.3 Handling Mismatched Columns

In [ ]:
# DataFrames with different columns
df_a = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df_b = pd.DataFrame({'B': [5, 6], 'C': [7, 8]})

print("df_a:")
print(df_a)
print("\ndf_b:")
print(df_b)

In [ ]:
# Default: outer join (all columns, NaN for missing)
result_outer = pd.concat([df_a, df_b], ignore_index=True)
print("Outer join (default):")
result_outer

In [ ]:
# Inner join (only common columns)
result_inner = pd.concat([df_a, df_b], join='inner', ignore_index=True)
print("Inner join:")
result_inner

---

## 2. Merging with `pd.merge()`

Merge combines DataFrames based on common columns (like SQL JOIN).

### Join Types:
| Type | Description |
|------|-------------|
| `inner` | Only matching keys (default) |
| `outer` | All keys from both DataFrames |
| `left` | All keys from left DataFrame |
| `right` | All keys from right DataFrame |

### 2.1 Basic Merge (Inner Join)

In [ ]:
# Create DataFrames with common key
employees = pd.DataFrame({
    'emp_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'dept_id': [10, 20, 10, 30]
})

departments = pd.DataFrame({
    'dept_id': [10, 20, 40],
    'dept_name': ['HR', 'Engineering', 'Marketing']
})

print("Employees:")
print(employees)
print("\nDepartments:")
print(departments)

In [ ]:
# Inner join (default) - only matching dept_ids
result = pd.merge(employees, departments, on='dept_id')
print("Inner Join:")
result

### 2.2 Left, Right, and Outer Joins

In [ ]:
# Left join - all employees, matching departments
result_left = pd.merge(employees, departments, on='dept_id', how='left')
print("Left Join (all employees):")
result_left

In [ ]:
# Right join - all departments, matching employees
result_right = pd.merge(employees, departments, on='dept_id', how='right')
print("Right Join (all departments):")
result_right

In [ ]:
# Outer join - all records from both
result_outer = pd.merge(employees, departments, on='dept_id', how='outer')
print("Outer Join (all records):")
result_outer

### 2.3 Merging on Multiple Keys

In [ ]:
# DataFrames with multiple key columns
df_left = pd.DataFrame({
    'key1': ['A', 'A', 'B', 'B'],
    'key2': [1, 2, 1, 2],
    'value_left': [10, 20, 30, 40]
})

df_right = pd.DataFrame({
    'key1': ['A', 'B', 'B'],
    'key2': [1, 1, 2],
    'value_right': [100, 200, 300]
})

print("df_left:")
print(df_left)
print("\ndf_right:")
print(df_right)

In [ ]:
# Merge on multiple keys
result = pd.merge(df_left, df_right, on=['key1', 'key2'])
print("Merged on multiple keys:")
result

### 2.4 Merging with Different Column Names

In [ ]:
# Different column names for keys
orders = pd.DataFrame({
    'order_id': [1, 2, 3],
    'customer_id': [101, 102, 101],
    'amount': [250, 450, 300]
})

customers = pd.DataFrame({
    'cust_id': [101, 102, 103],
    'name': ['Alice', 'Bob', 'Charlie']
})

# Use left_on and right_on for different column names
result = pd.merge(orders, customers, left_on='customer_id', right_on='cust_id')
result

### 2.5 Handling Duplicate Column Names

In [ ]:
# DataFrames with overlapping non-key columns
df1 = pd.DataFrame({'key': ['A', 'B'], 'value': [1, 2]})
df2 = pd.DataFrame({'key': ['A', 'B'], 'value': [3, 4]})

# Default suffixes are _x and _y
result = pd.merge(df1, df2, on='key')
print("Default suffixes:")
print(result)

In [ ]:
# Custom suffixes
result = pd.merge(df1, df2, on='key', suffixes=('_left', '_right'))
print("Custom suffixes:")
result

---

## 3. Join with `df.join()`

The `join()` method is a convenient way to join DataFrames on their index.

In [ ]:
# Create DataFrames with meaningful index
df_info = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
}, index=['emp1', 'emp2', 'emp3'])

df_salary = pd.DataFrame({
    'salary': [50000, 60000, 75000],
    'bonus': [5000, 6000, 7500]
}, index=['emp1', 'emp2', 'emp3'])

print("df_info:")
print(df_info)
print("\ndf_salary:")
print(df_salary)

In [ ]:
# Join on index
result = df_info.join(df_salary)
print("Joined on index:")
result

---

## 4. Adding Rows and Columns

### 4.1 Adding a New Column

In [ ]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie'],
    'math': [90, 85, 88],
    'english': [88, 92, 85]
})

# Add a new column
df['total'] = df['math'] + df['english']
df['average'] = df['total'] / 2
df

### 4.2 Adding Rows with pd.concat()

In [ ]:
# Add a new row using concat
new_row = pd.DataFrame([{'name': 'Diana', 'math': 95, 'english': 90, 'total': 185, 'average': 92.5}])
df = pd.concat([df, new_row], ignore_index=True)
df

---

## 5. Visual Summary of Join Types

```
Left DataFrame (A)     Right DataFrame (B)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”        â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ key â”‚ val_A â”‚        â”‚ key â”‚ val_B â”‚
â”œâ”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤        â”œâ”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚  1  â”‚  A1   â”‚        â”‚  2  â”‚  B2   â”‚
â”‚  2  â”‚  A2   â”‚        â”‚  3  â”‚  B3   â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜        â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

INNER JOIN (how='inner')     LEFT JOIN (how='left')
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”      â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ key â”‚ val_A â”‚ val_B â”‚      â”‚ key â”‚ val_A â”‚ val_B â”‚
â”œâ”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤      â”œâ”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚  2  â”‚  A2   â”‚  B2   â”‚      â”‚  1  â”‚  A1   â”‚  NaN  â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜      â”‚  2  â”‚  A2   â”‚  B2   â”‚
                             â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜

RIGHT JOIN (how='right')     OUTER JOIN (how='outer')
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”      â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”
â”‚ key â”‚ val_A â”‚ val_B â”‚      â”‚ key â”‚ val_A â”‚ val_B â”‚
â”œâ”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤      â”œâ”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚  2  â”‚  A2   â”‚  B2   â”‚      â”‚  1  â”‚  A1   â”‚  NaN  â”‚
â”‚  3  â”‚  NaN  â”‚  B3   â”‚      â”‚  2  â”‚  A2   â”‚  B2   â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜      â”‚  3  â”‚  NaN  â”‚  B3   â”‚
                             â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”˜
```

---

## ðŸ“ Practice Problems

### Problem 1: Concatenate DataFrames
Create three DataFrames representing sales data for Q1, Q2, and Q3:

**Q1:** Product A: $100, Product B: $150  
**Q2:** Product A: $120, Product C: $200  
**Q3:** Product B: $180, Product C: $220

1. Concatenate all three vertically with `ignore_index=True`
2. What happens to missing values?

In [ ]:
# Your solution here

### Problem 2: Student-Course Merge
Create two DataFrames:

**students:**
| student_id | name | major |
|------------|------|-------|
| 1 | Alice | CS |
| 2 | Bob | Math |
| 3 | Charlie | CS |
| 4 | Diana | Physics |

**enrollments:**
| student_id | course | grade |
|------------|--------|-------|
| 1 | CS101 | A |
| 1 | CS102 | B |
| 2 | MATH201 | A |
| 5 | PHYS101 | C |

1. Perform an inner join
2. Perform a left join (all students)
3. Perform an outer join

In [ ]:
# Your solution here

### Problem 3: Multi-Key Merge
Create DataFrames for store sales:

**sales:**
| store | year | revenue |
|-------|------|--------|
| NYC | 2023 | 50000 |
| LA | 2023 | 45000 |
| NYC | 2024 | 55000 |
| LA | 2024 | 48000 |

**targets:**
| store | year | target |
|-------|------|--------|
| NYC | 2023 | 48000 |
| NYC | 2024 | 52000 |
| LA | 2024 | 50000 |

1. Merge on both `store` and `year`
2. Calculate whether each store met its target

In [ ]:
# Your solution here

---

## âœ… Solutions

### Solution 1: Concatenate DataFrames

In [ ]:
# Solution 1
q1 = pd.DataFrame({'quarter': ['Q1', 'Q1'], 'product': ['A', 'B'], 'sales': [100, 150]})
q2 = pd.DataFrame({'quarter': ['Q2', 'Q2'], 'product': ['A', 'C'], 'sales': [120, 200]})
q3 = pd.DataFrame({'quarter': ['Q3', 'Q3'], 'product': ['B', 'C'], 'sales': [180, 220]})

print("Q1:")
print(q1)
print("\nQ2:")
print(q2)
print("\nQ3:")
print(q3)

# Concatenate
all_sales = pd.concat([q1, q2, q3], ignore_index=True)
print("\nAll Sales:")
print(all_sales)
print("\nNo missing values because all DataFrames have same columns!")

### Solution 2: Student-Course Merge

In [ ]:
# Solution 2
students = pd.DataFrame({
    'student_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'major': ['CS', 'Math', 'CS', 'Physics']
})

enrollments = pd.DataFrame({
    'student_id': [1, 1, 2, 5],
    'course': ['CS101', 'CS102', 'MATH201', 'PHYS101'],
    'grade': ['A', 'B', 'A', 'C']
})

print("Students:")
print(students)
print("\nEnrollments:")
print(enrollments)

# Inner join
print("\n1. Inner Join:")
print(pd.merge(students, enrollments, on='student_id', how='inner'))

# Left join
print("\n2. Left Join (all students):")
print(pd.merge(students, enrollments, on='student_id', how='left'))

# Outer join
print("\n3. Outer Join:")
print(pd.merge(students, enrollments, on='student_id', how='outer'))

### Solution 3: Multi-Key Merge

In [ ]:
# Solution 3
sales = pd.DataFrame({
    'store': ['NYC', 'LA', 'NYC', 'LA'],
    'year': [2023, 2023, 2024, 2024],
    'revenue': [50000, 45000, 55000, 48000]
})

targets = pd.DataFrame({
    'store': ['NYC', 'NYC', 'LA'],
    'year': [2023, 2024, 2024],
    'target': [48000, 52000, 50000]
})

print("Sales:")
print(sales)
print("\nTargets:")
print(targets)

# Merge on both keys
result = pd.merge(sales, targets, on=['store', 'year'], how='left')
print("\nMerged:")
print(result)

# Calculate if target was met
result['met_target'] = result['revenue'] >= result['target']
print("\nWith target status:")
print(result)

---

## ðŸ“Œ Summary

| Operation | Function | Use Case |
|-----------|----------|----------|
| **Concatenation** | `pd.concat()` | Stack DataFrames vertically/horizontally |
| **Merge** | `pd.merge()` | SQL-style joins on columns |
| **Join** | `df.join()` | Join on index |

### Merge Join Types:
- `inner`: Only matching keys
- `left`: All from left + matching from right
- `right`: All from right + matching from left
- `outer`: All keys from both

**Next:** [26_pandas_file_io.ipynb](26_pandas_file_io.ipynb) - Reading and writing files with Pandas