<center> <img src ="https://i.postimg.cc/1X8H7YYt/BITS-Logo.png" width = "400" alt="BITS Pilani Logo" /> </center>


Use a locally installed editor like Spyder or Visual Studio Code. If you want to try out coding without installing anything, try this online editor: https://www.pythonanywhere.com/try-ipython/

## Code comments
In order to explain the code, comments in Python can be made by preceding a line with a hashtag `#`. Everything on that particular line will then not be interpreted as part of the code:

```python
# This is a comment and will not be interpreted as code
```

<font color='green'> <h1> <center> Python - Output Statements </center> </h1> </font>

<b>First Python Program<b>

Communicate to the outside world with a greeting <br>

In [2]:
print("Hello World from Python!")

Hello World from Python!

Whatever is specified in the print statement gets outputed on the console

In [2]:
print('Single quotes also works!')

Single quotes also works!

In [3]:
print("Multiline output \n can also be printed.")

Multiline output
 can also be printed.

In [16]:
print('String concatenation', 'also', 'works.')

String concatenation also works.

<b>Python Outputs </b>

print function requires paranthesis around its arguments. Anything within the quotes will be printed as it is.

In [5]:
print('3+4')   #treats '3+4' as string and outputs as is

3+4

In [6]:
print(3+4)   #evaluates the expression and then prints the outcome

7

In [7]:
print('3 + 4 = ', (3+4) )  # strings and expressions can be concatenanted in the single print function call

3 + 4 =  7

In [8]:
print('age ', 35, 'name', 'ABC')  # strings and numbers can also be concatenated in single statement

age  35 name ABC

<b>Using Separator<b>

The detault separator between two values in print statements is space.

In [9]:
print("This", "is", "first", "line")

This is first line

The default separator can be changed with optional parameter 'sep' as follows

In [10]:
print("This", "is", "first", "line", sep="- ")

This- is- first- line

<b>Using end<b>

The default endline character is newline i.e. \n

In [11]:
print("this is first line")
print("this is second line")

this is first line
this is second line

This can be changed by optional parameter 'end' as shown below

In [12]:
print("this is first line", end='-')
print("this is second line")

this is first line-this is second line

<b>Exercise <b>

Q.1 Print a traingle like one below

*
**
***
****
*****

In [13]:
#Try it here

Q2. Write a program that prints result of following expression.

123 - 282
----------
47.34 + 23

In [14]:
#Try it here